language: node_js
node_js:
  - '10'

services:
  - docker

cache:
  directories:
    - 'node_modules'

before_script:
  - npm test

script:
  - version=`cat VERSION`
  - docker build -t chiragsane/node-web-app:$version .
  - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"
  - docker push chiragsane/node-web-app:$version
